*.exe
*.dll
*.log
*.bit
*.xbcd
*.dbg
*.dat
*.ffs_gui
*.ffs_batch
*.wdb
*.drc
*.xmsgs
*.xreport
*.html
*.debug
*.unroutes
*.twx
*.twr
*.syr
*.stx
*.ptwx
*.par
*.pad
*.cmd_log
*.bld
*.xwbt
*.xrpt
*.ngm
*.ncd
*.map
*.mrp
*.bgn
*.jou

xst/work/
xst/temp/
isim/work/
isim/temp/
isim/*/tmp_save/
isim/*/work/
isim/precompiled.exe.sim/
_xmsgs/
_ngo/
.Xil/